<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176268821539-r8k7frri9b0gohiiurtobbhiq541m955.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176268821539-r8k7frri9b0gohiiurtobbhiq541m955</string>
	<key>API_KEY</key>
	<string>AIzaSyAmhPMK1QhecY93n8ezs36NlM9ajdA4rjU</string>
	<key>GCM_SENDER_ID</key>
	<string>176268821539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maksim.Sanatorium</string>
	<key>PROJECT_ID</key>
	<string>sanatoriumapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sanatoriumapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176268821539:ios:01de29d5c973604b0edd96</string>
</dict>
</plist>